%heading {
	font-family: var(--font-display);
	font-weight: 400;
}

.heading-2,
.heading-4 {
	&--light {
		color: var(--color-grey-light-1);
	}

	&--dark {
		color: var(--color-grey-dark-1);
	}
}

.heading-1 {
	@extend %heading;
}

.heading-2 {
	@extend %heading;
	font-size: 4rem;
	line-height: 1;
}

.heading-3 {
	@extend %heading;
	font-size: 1.6rem;
	color: var(--color-primary);
	text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
	font-size: 1.9rem;	
}

.btn {
	background-color: var(--color-primary);
	color: #fff;
	border: none;
	border-radius: 0;
	font-family: var(--font-display);
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1.8rem 3rem;
	cursor: pointer;
	transition: all .2s;

	&:hover {
		background-color: var(--color-primary-dark);
	}
}